.listening {
  display: flex;
  height: 700px;
  background: #14a5ad;
  padding: 15px;
}

.listening_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}
.listening_image {
  width: 40%;
  margin-top: 70px;
}
.sound-sign {
  position: relative;
}
.sound-sign img:nth-child(1) {
  position: relative;
  left: 350px;
  bottom: 50px;
}
.sound-sign img:nth-child(2) {
  position: relative;
  left: 200px;
  bottom: 50px;
}
.sound-sign img:nth-child(3) {
  position: relative;
  left: 200px;
  top: 500px;
}
.listening_text {
  width: 70%;
}
.listening h1 {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.listening h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 168.1%;
  letter-spacing: 0.045em;
  color: #f5f6f7;
  width: auto;
  margin-top: 100px;
  margin-bottom: 70px;
}

/* .listening .input {
  display: flex;
  margin-top: 80px;
}

.listening input {
  background: transparent;
  border: 1px solid rgba(141, 65, 203, 0.32);
  border-radius: 10px 0px 0px 10px;
  width: 90%;
  outline: none;
  color: aliceblue;
  font-size: 24px;
  padding: 5px;
}
.listening input::placeholder {
  font-size: 18px;
}

.listening-button {
  width: 200px;
  height: 70px;
  background: #8742c7;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-family: "poppins";
  font-size: 20px;
  padding: 10px;
  line-height: 154.1%;
  letter-spacing: 0.025em;
  font-weight: 500;
} */

.tik {
  position: relative;
  top: 15px;
  left: 600px;
}
