.staking {
  background: #000;
  height: 900px;
}
.staking_container {
  width: 80%;
  margin: 0 auto;
}
.stake-header h2 {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 154.1%;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.stake-header {
  width: 100%;
}
.stake {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin-top: -60px;
}

.staking h4 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130.1%;
  letter-spacing: 0.02em;
  color: #a2a2a2;
}

.stake_dash {
  display: flex;
}
.stake_dash h4 {
  width: 100%;
}
.stake-img {
  flex: 1;
  /* width: 350px; */
  height: 250px;
}

.dash {
  height: 120px;
  margin-right: 40px;
}

.govern-dash {
  /* margin-left: 40px; */
}
