@font-face {
  font-family: "Medium";
  src: local("Aubrey"), url("./Assets/fonts/AUBREY.TTF") format("truetype");
}

.input {
  display: flex;
  /* margin-top: 50px; */
  width: 100%;
}

input {
  background: transparent;
  border: 1px solid rgba(141, 65, 203, 0.32);
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  outline: none;
  color: aliceblue;
  font-size: 24px;
  padding: 5px;
}
input::placeholder {
  font-size: 18px;
}

.listening-button {
  width: 200px;
  height: 70px;
  background: #8742c7;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-family: "poppins";
  font-size: 20px;
  padding: 10px;
  line-height: 154.1%;
  letter-spacing: 0.025em;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
