.nav {
  height: 80px;
  width: 100%;
  /* position: fixed;
  top: 0; */
  padding: 10px;
  /* background: #696969; */
}
.nav-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.nav_menu {
  display: flex;
  align-items: center;
}
.nav_menu_items {
  display: flex;
  list-style: none;
  font-size: larger;
  color: 333333;
}

.nav_menu_items a {
  text-decoration: none;
  padding: 10px;
}

.navigation_button {
  width: 192px;
  height: 70px;
  background: #14a5ad;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 600px;
    background: red;
  }
  .nav-container {
  }
  .nav_menu {
    flex-direction: column;
  }
  .mobile-nav-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
  }
}
