.nav {
  height: 80px;
  width: 100%;
  padding: 10px;
  /* background: #696969; */
}
.mobile-nav {
  display: none;
}
.nav-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.nav_menu {
  display: flex;
  align-items: center;
}
.nav_menu_items {
  display: flex;
  list-style: none;
  font-size: larger;
  color: 333333;
}

.nav_menu_items a {
  text-decoration: none;
  padding: 10px;
}

.navigation_button {
  width: 192px;
  height: 70px;
  background: #14a5ad;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

@media only screen and (max-width: 768px) {

  .mobile-nav {
    display: block;
    cursor: pointer;
  }

  .nav {
    width: 100%;
    height: 600px;
    background: red;
  }

  .nav_menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 0px;
  }
  .active {
    right: -500px;
  }
  .nav_menu_items {
    width: 300px;
    height: 90vh;
  }
  .mobile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: ; */
  }
  .logo-image img {
    width: 120px;
  }
  .nav-container {
    width: 100%;
  }
  .nav_menu {
    flex-direction: column;
  }
  .nav_menu_items a {
    text-decoration: none;
    padding: 10px;
    margin-bottom: 25px;
  }
  .mobile-nav-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
  }

  .nav_menu_items {
    width: 400px;
    padding: 40px 0 0 10px;
    flex-direction: column;
    background: #000;
  }
}
@media only screen and (max-width: 320px) {
  .nav {
    width: 100%;
    height: 600px;
    background: red;
  }

  .mobile-nav-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
  }
}
