.footer {
  width: 100%;
  height: 400px;
  background-image: url("../../Assets/images/footer-bg.png");
  background-repeat: no-repeat;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.1%;
  letter-spacing: 0.025em;
  color: #000000;
  width: 70%;
  margin-top: 30px;
}
.footer-input {
  width: 70%;
  margin-top: 70px;
}
.footer-menu-top {
  display: flex;
  justify-content: space-between;
}
.social-networks img {
  margin-left: 5px;
}

